
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: transparent;
    position: top;
    overflow: hidden;
}

h1 {
    color: rgb(0, 125, 228); 
    text-align: center;
    font-size:xx-large;
    line-height: 5%;
}

table {
    align-items: center;
    margin: 0 auto;
    border-spacing: 30px;
}

h3 {
    text-align: center;
    color:whitesmoke;
    font-size: larger;
}

p {
    color: whitesmoke; 
    text-align: left;
    font-size: larger;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

td:hover img {
    transform: scale(1.1); /* Zwiększenie skali obrazka o 10% */
    transition: transform 0.3s; /* Dodaj płynną animację o czasie trwania 0.3 sekundy */
}

.content {
    max-width: 800px;
    margin: 20px auto 40px;
    padding: 20px;
}

.discord {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    border-top: 1px solid #353560;
    border-bottom: 1px solid #353560;
}

.albums {
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    
}

.left {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.left iframe {
    width: 100%;
    max-height: 300px;
}

.right {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.right p {
    margin: 0;
}
