body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: transparent;
    position: top;
    overflow: hidden;
}

selektor {
    border-top: 1px solid white; /* Dodaje białą linię na górze sekcji */
    border-bottom: 1px solid white; /* Dodaje białą linię na dole sekcji */
}

h1 {
    color: rgb(0, 125, 228); 
    text-align: center;
    font-size:xx-large
}

h3 {
    text-align: center;
    color:whitesmoke;
    font-size: larger;
}

p {
    color: whitesmoke; 
    text-align: center;
    font-size: larger;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.button {
    display: inline-block;
    background-color: #4CAF50; /* Zielony kolor tła */
    color: #fff; /* Biały kolor tekstu */
    padding: 10px 20px; /* Wielkość przycisku */
    text-decoration: none;
    border: none;
    border-radius: 5px; /* Zaokrąglenie rogów */
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #45A049; /* Kolor tła po najechaniu myszą */
}

.content {
    max-width: 800px;
    margin: 20px auto 20px;
    padding: 20px;
}

.discord {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    flex: 1;
    padding: 20px;
    text-align: center;
    border: 4mm ridge rgba(81, 50, 220, 0.6);
}

.left iframe {
    width: 100%;
    max-height: 300px;
}

.right {
    flex: 1;
    padding: 20px;
    text-align: center;
    border: 4mm ridge rgba(81, 50, 220, 0.6);
}

.right p {
    margin: 0;
}
