<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Matt Krupa</title>
</head>
<body>
    <header>
        <img src="iceland.jpg" alt="WHERE IS MATT KRUPA AAAAAAAAAA">    
    </header> 
    
    <div class="discord">
        <div class="left">
            <iframe src="https://discordapp.com/widget?id=904710531183689809&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
        <div class="right">
            <iframe style="border: 0; width: 350px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=3232656776/size=large/bgcol=333333/linkcol=2ebd35/transparent=true/" seamless><a href="https://mattkrupa.bandcamp.com/album/iceland">Iceland by Matt Krupa</a></iframe>
        </div>
        
</body>
</html>