
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #000000;
    }

    header {
        background-color: transparent;
        position: top;
        overflow: hidden;
    }

    h1 {
        color: rgb(0, 125, 228); 
        text-align: center;
        font-size:xx-large;
        line-height: 5%;
        white-space: normal;
    }

    h3 {
        text-align: center;
        color:whitesmoke;
        font-size: larger;
    }

    p {
        color: whitesmoke; 
        text-align: left;
        font-size: larger;
    }

    table {
        align-items: center;
        margin: 0 auto;
        border-spacing: 30px;
    }

    td {
        text-align: center;
    }

    td:hover img {
        transform: scale(1.1);
        transition: transform 0.3s;
    }

    label {
        text-align: center;
        color:whitesmoke;
        font-size: larger;
    }

    form {
        align-items: center;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }


    .pasior{
        border-bottom: 1px solid #353560;
    }

/*NAGŁÓWEK*/

    .content {
        max-width: 800px;
        margin: 20px auto 40px;
        padding: 20px;
    }


/*ZAPROSZENIE DO DISCORDA*/

    .discord {
        border-top: 1px solid #353560;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 0;
        border-bottom: 1px solid #353560;
    }

    .left {
        flex: 1;
        padding: 20px;
        text-align: center;
    }

    .left iframe {
        width: 100%;
        max-height: 300px;
    }

    .right {
        flex: 1;
        padding: 20px;
        text-align: center;
    }

    .right p {
        margin: 0;
    }


/*WIDEŁO*/

    .youtube-video {
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
    }

    .youtube-video iframe{
        width: 100%;
        height: 315px;
        max-width: 100%;
    }


/*CZĘŚĆ Z ALBUMAMI*/

    .albums {
        border-top: 1px solid #353560;
        align-items: center;
        justify-content: center;
        margin: 40px 0;
        border-bottom: 1px solid #353560;
        
    }
    
    .ablums p {
        color: rgb(105, 105, 105); 
        text-align: center;
        font-size: smaller;
    }

/*CZĘŚĆ Z NEWSLETTEREM*/

    .newsletter{
        display: flex;
        flex-direction: column ;
        align-items: center ;
        justify-content: center ;
        text-align: center ; 
        max-width: 800px;
        margin: 10px auto 40px;
        padding: 20px;
        margin-bottom: 20px; 
        padding-bottom: 10px;
    }

    .subscribe-form {
        margin-top: 5px;
        max-width: 400px;
        text-align: center;
    }

    .custom-input {
        width: 300px; 
        height: 40px; 
        border-radius: 10px; 
        text-align: center; 
        font-size: 18px; 
        margin: auto; 
        display: block; 
        margin-left: auto; 
        margin-right: auto; 
    }


    .btn-subscribe {   
        border: 2px solid #43b581;
        padding: 10px 20px;
        background-color: transparent;
        color: #43b581;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }

    .btn-subscribe:hover{
        background-color: #26684a;
        color: white;
    }

    .subscription-success {
        text-align: center; 
        color: green; 
    }

    
/*MESSAGE FORM*/

    .dupa {
        align-items: center;
        justify-content: center;
        max-width: 900px;
        margin: 0 auto;
    }

    .container {
        align-items: center;
        justify-content: center;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 15px;
        background-color: #37393e;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }
  
    .message-form {
        display: flex;
        flex-direction: column;
    }
  
    .message-form input[type="text"],
    .message-form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
  
    .message-form textarea {
        resize: vertical;
        min-height: 100px;
    }
  
    .btn-message {   
        border: 2px solid #43b581;
        padding: 10px 20px;
        background-color: transparent;
        color: #43b581;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }

        .btn-message:hover{
        background-color: #26684a;
        color: white;
    }



  /*SOCJAL-LINKI*/
  
    .social-icons {
        border-top: 1px solid #353560;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .social-icons a {
        margin: 0 10px; 
    }

    .social-icons img {
        width: 20px; 
        height: 20px; 
    }

    .logo-container {
        position: fixed;
        bottom: 10px; 
        left: 10px; 
        z-index: 999;
    }


  /*BC*/

    .logo {
        width: 20px; 
        height: auto;
        transition: transform 0.3s ease-in-out; 
    }

    .logo-container:hover .logo {
        transform: scale(1.1); 
    }
  



/*PODSTRONY ALBUMÓW*/

    .content-wrapper {
        margin: 60px 0;
        padding-left: 400px;
        padding-right: 400px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .content-wrapper p{
        word-spacing: 10px;
    }

    .album-info {
        flex: 1;
        padding: 20px;
        min-width: 400px;
        text-align: center;
        margin: 0;
    }

    .bandcamp-conteiner {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex: 1;
        padding: 20px;
        text-align: center;
        max-height: 300px;
        max-width: 300px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 60px 60px;
    }

    .back-button {
        border: 2px solid #43b581;
        padding: 10px 20px;
        background-color: transparent;
        color: #43b581;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }

    .back-button:hover {
        background-color: #26684a;
        color: white;
    }

    .social-icons-pages {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

        .social-icons-pages a {
        margin: 0 10px;
    }

        .social-icons-pages img {
        width: 20px;
        height: 20px;
    }




/*DLA SMARTFONÓW*/
@media screen and (max-width: 767px) {

    h1 {
        white-space: normal;
        word-break: break-all;
        text-align: center; 
        font-size: x-large; 
    }

    table, tr {
        display: block;
    }

    td {
        display: inline-block;
        width: 100%; 
        box-sizing: border-box; 
        text-align: center;
        margin-bottom: 20px;
    }

    .content-wrapper {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
        align-items: center;
    }
  
    .album-info {
        min-width: unset;
    }
  
    .bandcamp-container {
        max-width: 100%; 
        margin-top: 20px; 
    }

    .discord {
        flex-direction: column-reverse;
    }

  }



