{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/faviconbc.png' %}" >
    <meta charset="UTF-8">    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="{% static 'css/bc.css' %}">
    <title>Blooming Cactus</title>
</head>
{% csrf_token %}
<body>


    <header>
        <img src="{% static 'images/bc.jpg' %}" alt="WHERE IS MATT KRUPA AAAAAAAAAA">    
    </header>
    
    <section class="content">
        <div class="text">
            <h1>Blooming Cactus</h1>
             <h3>Christian hard rock band</h3>
             <p>&nbsp</p>
             <p>Their history begins in the year 2021, when Matt decided to make something heavier than himself.
                From the beginning 3 members - Matt Krupa, Wojtek 'P00sheck' Piskała and Antoni 'doublesidedead' Fryc. They had a 2 year journey
                finished with a full length album - Self-Titled (that you can listen here) in July of 2023. After the album realese band kind of
                split up. Hard to say if there will be any new realeses soon, but the project itself is very well done and oh! you can listen to
                it right here!
            </p>
        </div>
        <div class="logos">
            <img src="{% static 'images/FrytaCactus.png' %}" alt="Logo1" class="logo">
            <img src="{% static 'images/MattCactus.png' %}" alt="Logo1" class="logo">
            <img src="{% static 'images/PusheckCactus.png' %}" alt="Logo2" class="logo">
        </div>
    </section>
    

    <div class="stripe"></div>

    <div class="content-wrapper">
        <div class="album-info">
            <p>The Self-Titled album was worked on for 2 years by three musicians - Matt, doublesidedead and P00sheck. Lyrics by Matt.</p>
            <p> First song was composed mainly by P00sheck. It's called 'Hopelessness' and is about the darkness and deterioration of the world, but
                with a break about how there is so much more than this darkness.
            </p>
            <p>Second song is technically the first song (made by Blooming Cactus). Mainly composed by Matt. Lyrics are about the need to keep 
                getting wiser in life.
            </p>
            <p>'Fjord', the third song, was composed by all of us together during the rehearsal. Lyrics about the mystery of man-woman relationship. 
                Additional voice lines by Natalia Krupa. </p>
            <p>'Ten', mostly composed by Matt. The P00shecks guitar riff is fire tho. Lyrics about the weakness of a human. </p>
            <p>'Blooming Cactus' the Self-Titled of Self-Titled. Mainly composed by doublesidedead. Song explaining the meaning behind the band name. </p>
            <p>'AfterHollow', mainly composed by doublesidedead. Song about tragedy of turning away from God.
            </p>
            <p>'Drown Me', mostly composed by Matt. Lyrics are a prayer or even cry for help to God. </p>
            <p>'Realization', mainly by P00sheck. Lyrics are about the choice between beeing in the cycle of death in this world or breakind out of it. </p>
            <p>'Heavens', another composed on the rehearsal. This one doesn't heave lyrics. Or it does if 'AAAAAAAAAAA' are lyrics.</p>
            <p>'Blind' is a one mostly composed by P00sheck and doublesidedead. It is about breakind the loop of beeind miserable. </p>
            <p>&nbsp</p>
            <div class="social-icons-pages">
                <a href="https://www.youtube.com/watch?v=mXPmaP0p3TQ&list=OLAK5uy_mtrnaY14hr-1567fFqaI9kMfwrX8flCSM" target="_blank">
                    <img src="{% static 'images/youtube.png' %}" alt="YouTube">
                </a>
                <a href="https://open.spotify.com/album/7m71dxdQ3MYjeUIoOMqFN8?si=kckOcPwzQ5OQkTZbxR6mPA" target="_blank">
                    <img src="{% static 'images/spotify.png' %}" alt="Facebook">
                </a>
                <a href="https://music.apple.com/pl/album/self-titled/1692315736" target="_blank">
                    <img src="{% static 'images/itunes.png' %}" alt="Itunes">
                </a>
            </div>
        </div>
        <div class="bandcamp-container">
            <iframe style="border: 0; width: 350px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=2831731724/size=large/bgcol=333333/linkcol=e99708/transparent=true/" seamless><a href="https://mattkrupa.bandcamp.com/album/self-titled">Self-Titled by Blooming Cactus</a></iframe>
        </div>   
    </div>
    
    <div class="button-container">
         <a href="{% url 'home' %}" class="back-button">Go back to the front page</a>
    </div>

    <section class="social-icons">
        <p>&nbsp</p>
        <a href="https://www.youtube.com/@blooming_cactus/featured" target="_blank">
            <img src="{% static 'images/youtube.png' %}" alt="YouTube">
        </a>
        <a href="https://open.spotify.com/artist/6wWZhNmKxBplHsJEJ5mL9n?si=0NQO1L38QSa1-cnLHzVxqA" target="_blank">
            <img src="{% static 'images/spotify.png' %}" alt="Facebook">
        </a>
        <a href="https://music.apple.com/pl/artist/blooming-cactus/1618926953" target="_blank">
            <img src="{% static 'images/itunes.png' %}" alt="Itunes">
        </a>
    </section>


</body>
</html>