{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Covers Vol.1</title>
</head>
<body>
    <header>
        <img src="{% static 'images/covers_back.jpg' %}" alt="WHERE IS MATT KRUPA AAAAAAAAAA">    
    </header> 
    
    <div class="content-wrapper">
        <div class="album-info">
            <p>Covers Volume 1 is my first music project (and the second released album). Every song was made in completly different time:</p>
            <p> It begins with the first ever released song on my YouTube channel. 'Can You Hear Me' by Korn. I started making it
                in program called Music Maker (I switched to ableton after making in this the whole album) in the end of 2019, just after
                Korn released their new album. I covered it in acoustic style without vocals. It wasn't really perfect, but I released it
                just before Korn released their acoustic version of this song, so by this I got some views.
            </p>
            <p>Second cover, released in may 2020 was 'Disposition' by Tool in acoustic version as well. (but I have added electric guitar there idk why). 
                Leter it was my inspiration to 'West' from In The Autmn Forest. </p>
            <p>The third cover I was makind the whole summer. Released it in august 2020, but I wasn't happy while making it. Changed drums,
                rerecorded guitars few times. Only after I added piano it sounded good enough. It was 'Do I Wanna Know' by Arctic Monkeys. It
            isn't on YT anymore because I deleted it by mistake lol. </p>
            <p>'Burn the Witch' by Radiohead, the fourth cover. It is a bit different becasue I didn't record guitar line-in but with mic, so
                it sounds more wild. It was the best one to cover imo and the quickest one. I started it in september and released in october 2020. </p>
            <p>A shining star among the trash. The most straming song on my Spotify. This cover has a long history. 'Saturn' by Sleeping at Last with my
                then-girlfriend (now wife) - Natalia Krupa. She recorded this cover back in 2018. You want to know how she recorded it? With mic in
            an old lenovo laptop... All guitar and two vocals, with this poor microphone. She send it to me after she recorded it in 2018. I was 
        amused by the song. Decided to record some bass guitar with a slow solo during the part without a vocal. Send it back, she liked it, nothing more. 
            after two years, when I got an idea to put my covers into an album I asked her "Hey, that's awesome, let's put it online", she 
        said no, but after some discussion she agreed at last. So yeah, I guess that's the oldest song here. </p>
            <p>'Birds' by Imagine Dragons. It isn't on YouTube for a reason. It was my first attempt to make enything in music maker in 2019.
                It sucks.
            </p>
            <p>'Heaven' by Depeche Mode. I recorded it in august 2020, and insist Natlia to record her vocals there. It just doesn't fit, I guess 
                it was an experiment. </p>
            <p> 'Sancti Crucis' is different thing. I don't know if I can call it a cover. I guess I can leave it for you to come up with some 
                theory. It was included with the album later.
            <p>&nbsp</p>
            <div class="social-icons-pages">
                <a href="https://www.youtube.com/watch?v=Xll-c7b-gOg&list=OLAK5uy_lDpauuNCLaERvRFT1HegaapwNNKXU5U6w" target="_blank">
                    <img src="{% static 'images/youtube.png' %}" alt="YouTube">
                </a>
                <a href="https://open.spotify.com/album/3eLt8pCbFhPLAQoQPRYZn3?si=NkfiKs1_SU2o6TFa9iQ7Zw" target="_blank">
                    <img src="{% static 'images/spotify.png' %}" alt="Facebook">
                </a>
                <a href="https://music.apple.com/pl/album/covers-vol-1/1538618066" target="_blank">
                    <img src="{% static 'images/itunes.png' %}" alt="Itunes">
                </a>
            </div>
        </div>
        <div class="bandcamp-container">
            <iframe style="border: 0; width: 350px; height: 720px;" src="https://bandcamp.com/EmbeddedPlayer/album=773179887/size=large/bgcol=333333/linkcol=9a64ff/transparent=true/" seamless><a href="https://mattkrupa.bandcamp.com/album/covers-vol-1">Covers, Vol.1 by Matt Krupa</a></iframe>
        </div>   
    </div>
    
    <div class="button-container">
         <a href="{% url 'home' %}" class="back-button">Go back to the front page</a>
    </div>
    
</body>
</html>