{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    <meta charset="UTF-8">    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/discordInvite.css' %}">
    <title>Matt Krupa</title>
</head>
{% csrf_token %}
<body>
    <header>
        <img src="{% static 'images/mattback.png' %}" alt="">    
    </header>
    
    <section class="content">
            <h1>Hi, I'm Matt and I make music.</h1>
            <h3>You probably don't know me.</h3>
            <p>&nbsp</p>
            <p>I make ambient, acoustic and sometimes alternative music. Playing guitar, bass and piano (and some other funny instruments) If you wanna listen to it, just keep scrolling. Here on this site you can find all of it and listen to it freely.</p>
    </section>

    <div class="discord">

        <div class="left">
            <script src="{%static 'js/discordInvite.js' %}"></script>
                <script>
                discordInvite.init({
                inviteCode: 'GJpMmxwRbB',
                title: 'Matt Enjoyers',
                });
                discordInvite.render();
                </script>
            <div id="discordInviteBox"></div>
        </div>

        <div class="right">
            <h3>Join my Discord today!</h3>
            <p>I don't really waste my time on social media, so if you wanna have a chat with me, get fresh updates about my music and hear some sneak-peaks before realese - feel free to join now!</p>
        </div>

    </div>

    <section class="content">
        <section class="newsletter">
            <h1>Subscribe to my newsletter</h1>
            <h3>And be first to know about new projects!</h3>
            <p>&nbsp</p>
            <p>Don't have a Discord, but still want to get updates? This is the right place! Write your e-mail below and get emails with updates about my music! NO SPAM! I'm writing only when I publish something new!</p>
        </section>
        <form method="post" action="{% url 'home' %}" class="subscribe-form" id="subscribe-form">
            {% csrf_token %}
            {{ form1.as_p }}
            <button type="submit" class="btn-subscribe">Subscribe</button>
        </form>   
    </section>

    <section class="albums">
        <h1>All of my work</h1>
        <h3>feel free to listen to any of it on this site</h3>
        <p>&nbsp</p>
        <table>
            <tr>
                <td>
                    <a href="iceland">
                        <img src="{% static 'images/Iceland.png' %}" alt="Iceland" width="200" height="200">
                    </a>
                    <h3>Iceland</h3>
                </td>
                <td>
                    <a href="norway">
                        <img src="{% static 'images/Norway.png' %}" alt="Norway" width="200" height="200">
                    </a>
                    <h3>Norway</h3>
                </td>
                <td>
                    <a href="winter">
                        <img src="{% static 'images/Winter.jpg' %}" alt="Winter" width="200" height="200">
                    </a>
                    <h3>Winter</h3>
                </td>
                <td>
                    <a href="coversvol1">
                        <img src="{% static 'images/Vol1.jpg' %}" alt="Covers Vol.1" width="200" height="200">
                    </a>
                    <h3>Covers Vol.1</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="intheautumnforest">
                        <img src="{% static 'images/Autumn.jpg' %}" alt="In The Autmun Forest" width="200" height="200">
                    </a>
                    <h3>In The Autumn Forest</h3>
                </td>
            </tr>
        </table>
    </section> 

    
    <section class="dupa">
        <h1>Want to contact me? Do it here!</h1>
        <h3>You can send me anything you would like to! Want me to make a soundtrack for a game? Write! Want to use my music somwhere? Write! Want to tell my what you had for breakfest? Write!!</h3>
        <p>&nbsp</p>
    </section> 

    <div class="container">
        <form method="post" action="{% url 'home' %}" class="message-form" id="message-form">
          {% csrf_token %}
          {{ form2.name.errors }}
          <input type="text" id="id_name" name="name" placeholder="Awesome Person Jr.">
          
          {{ form2.email.errors }}
          <input type="text" id="id_email" name="email" placeholder="Email (so i can write back love)">
          
          {{ form2.content.errors }}
          <textarea id="id_content" name="content" placeholder="I love you Matt I just wanted to tell you" style="height: 100px;"></textarea>
          
          <button type="submit" class="btn-message">Submit</button>
        </form>
      </div>
    <p>&nbsp</p>


    <section class="social-icons">
        <p>&nbsp</p>
        <a href="https://www.youtube.com/channel/UCGIB3mFHUD2Fh-MthueSbXQ" target="_blank">
            <img src="{% static 'images/youtube.png' %}" alt="YouTube">
        </a>
        <a href="https://www.facebook.com/mattkrupamusic" target="_blank">
            <img src="{% static 'images/facebook.png' %}" alt="Facebook">
        </a>
        <a href="https://mattkrupa.bandcamp.com/" target="_blank">
            <img src="{% static 'images/bandcamp.png' %}" alt="Facebook">
        </a>
        <a href="https://open.spotify.com/artist/0hduI8doHSaCxLeb2s9t08?si=rYerSEUySua6srCSQNYbeA" target="_blank">
            <img src="{% static 'images/spotify.png' %}" alt="Facebook">
        </a>
        <a href="https://music.apple.com/gb/artist/matt-krupa/932056625" target="_blank">
            <img src="{% static 'images/itunes.png' %}" alt="Itunes">
        </a>
    </section>

    <a href="/bc/"> 
        <div class="logo-container">
          <img src="{% static 'images/CactusLogo7.png' %}" alt="Logo" class="logo">
        </div>
      </a>


</body>
</html>
