{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    <meta charset="UTF-8">    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/discordInvite.css' %}">
    <title>Matt Krupa</title>
</head>
{% csrf_token %}
<body>

    
    <header>
        <img src="{% static 'images/mattback.png' %}" alt="">    
    </header>
    
    <section class="content">
            <h1>Hi, I'm Matt Krupa and I make music.</h1>
            <h3>You probably don't know me.</h3>
            &nbsp;
            <p>I make ambient, acoustic and sometimes alternative music. Playing guitar, bass and piano (and some other funny instruments). If you wanna listen to it, just keep scrolling. Here on this site you can find all of it and listen to it freely.</p>
    </section>



    <div class="discord">

        <div class="left">
            <script src="{%static 'js/discordInvite.js' %}"></script>
                <script>
                discordInvite.init({
                inviteCode: 'GJpMmxwRbB',
                title: 'Matt Enjoyers',
                });
                discordInvite.render();
                </script>
            <div id="discordInviteBox"></div>
        </div>
        <div class="right">
            <h3>Join my Discord today!</h3>
            <p>I don't really waste my time on social media, so if you wanna have a chat with me, get fresh updates about my music and hear some sneak-peaks before realese - feel free to join now!</p>
        </div>


    </div>

    <div class="youtube-video">

        <h1>My newest music video!</h1>
        <h3> Watch and listen</h3>
        &nbsp;
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7aa_1nCzPgM?si=G9jCVDSahZsJGUbc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    
    </div>    



    <section class="albums">

        <h1>All of my work</h1>
        <h3>feel free to listen to any of it on this site</h3>
        &nbsp;
        <table>
            <tr>
                <td>
                    <a href="iceland">
                        <img src="{% static 'images/Iceland.png' %}" alt="Iceland" width="200" height="200">
                    </a>
                    <h3>Iceland</h3>
                </td>
                <td>
                    <a href="norway">
                        <img src="{% static 'images/Norway.png' %}" alt="Norway" width="200" height="200">
                    </a>
                    <h3>Norway</h3>
                </td>
                <td>
                    <a href="winter">
                        <img src="{% static 'images/Winter.jpg' %}" alt="Winter" width="200" height="200">
                    </a>
                    <h3>Winter</h3>
                </td>
                <td>
                    <a href="coversvol1">
                        <img src="{% static 'images/Vol1.jpg' %}" alt="Covers Vol.1" width="200" height="200">
                    </a>
                    <h3>Covers Vol.1</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="intheautumnforest">
                        <img src="{% static 'images/Autumn.jpg' %}" alt="In The Autmun Forest" width="200" height="200">
                    </a>
                    <h3>In The Autumn Forest</h3>
                </td>
            </tr>
        </table>

    </section> 



    <div class='blog-section bg-gray-900 p-4 text-white'>
        <span style="font-family: Poppins-Bold" class='grid items-center px-2 text-start md:text-start md:pl-36 text-2xl md:text-3xl lg:text-4xl my-6 md:my-10'>Checkout my latest posts</span>
        <div class='blogs my-5 grid justify-center md:flex md:space-x-6'>
            {% for blog in random_blogs|slice:3 %}
                <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='hover:scale-105 hover:transform bg-gray-800 p-5 rounded-lg max-w-sm h-auto shadow-2xl transition-all duration-300'>
                    <a href='/blogpost/{{blog.slug}}'><img class='rounded-lg mb-4' src="{{blog.thumbnail_url}}"></a>
                    <a class='text-blue-100 hover:text-blue-300 transition duration-300' href='/blogpost/{{blog.slug}}'><span class='text-xl font-extrabold'>{{blog.title|slice:80}}</span></a><br>
                    <p class='my-3'>{{blog.meta|slice:180|safe}}</p>
                    <p class='mt-2 mb-4 text-gray-400'>by  <i class="bi bi-person"></i>  <a href='/about' class='group transition-all duration-500 ease-out'><span class='bg-left-bottom bg-gradient-to-r from-cyan-300 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out group-hover:text-cyan-200'>Ashish</span></a> <i class="bi bi-dot"></i> <span><i class="bi bi-calendar4-event"></i> {{blog.time}}</span> <i class="bi bi-dot"></i><i class="bi bi-tag"></i> <a href='/category/{{blog.category}}' class='group transition-all duration-500 ease-out'><span class='bg-left-bottom bg-gradient-to-r from-cyan-300 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out group-hover:text-cyan-200'>{{blog.category}}</span></a></p>
                    {% comment %} <a class='text-sm bg-gray-700 py-1 px-3 rounded-full' href='/category/{{blog.category}}'><i class="bi bi-tag"></i> {{blog.category}}</a><br><br> {% endcomment %}
                    <a href='/blogpost/{{blog.slug}}'><button class='bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3'>Read more <i class="bi bi-arrow-right font-extrabold"></i></button></a>
                </div>
                <br>
            {% endfor %}
        </div>
        <div class='flex justify-center'>
            <a href='/blog' class=''><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-blue-600 outline hover:outline-none outline-blue-600 transition delay-75 ease-in-out my-3'>Load more <i class="bi bi-arrow-clockwise font-extrabold"></i></button></a>
        </div>
    </div>

<!--    

        <section class="newsletter">
            <h1>Join my mailing list!</h1>
            <h3>And get news about my music directly from me! No spam!</h3>
        </section>
        <form method="post" action="{% url 'home' %}" class="subscribe-form" id="subscribe-form">
            {% csrf_token %}
            {{ form1.as_p }}
            <button type="submit" class="btn-subscribe">Subscribe</button>
            &nbsp;
        </form>   

    

    <div class="pasior"></div>
    
    <section class="dupa">
        &nbsp;
        <h1>Want to contact me? Do it here!</h1>
        <h3>You can send me anything you would like to! Want me to make a soundtrack for a game? Write! Want to use my music somwhere? Write! Want to tell my what you had for breakfest? Write!!</h3>
        &nbsp;
    </section> 

    <div class="container">
        <form method="post" action="{% url 'home' %}" class="message-form" id="message-form">
          {% csrf_token %}
          {{ form2.name.errors }}
          <input type="text" id="id_name" name="name" placeholder="Awesome Person Jr.">
          
          {{ form2.email.errors }}
          <input type="text" id="id_email" name="email" placeholder="Email (so i can write back love)">
          
          {{ form2.content.errors }}
          <textarea id="id_content" name="content" placeholder="I love you Matt I just wanted to tell you" style="height: 100px;"></textarea>
          
          <button type="submit" class="btn-message">Submit</button>
        </form>
    </div>


    &nbsp;
-->

    <section class="social-icons">
        <a href="https://www.youtube.com/channel/UCGIB3mFHUD2Fh-MthueSbXQ" target="_blank">
            <img src="{% static 'images/youtube.png' %}" alt="YouTube">
        </a>
        <a href="https://mattkrupa.bandcamp.com/" target="_blank">
            <img src="{% static 'images/bandcamp.png' %}" alt="Facebook">
        </a>
        <a href="https://open.spotify.com/artist/0hduI8doHSaCxLeb2s9t08?si=rYerSEUySua6srCSQNYbeA" target="_blank">
            <img src="{% static 'images/spotify.png' %}" alt="Facebook">
        </a>
        <a href="https://music.apple.com/gb/artist/matt-krupa/932056625" target="_blank">
            <img src="{% static 'images/itunes.png' %}" alt="Itunes">
        </a>
    </section>


</body>
</html>
