{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Matt Krupa</title>
</head>
<body>
    <header>
        <img src="{% static 'images/iceland.jpg' %}" alt="WHERE IS MATT KRUPA AAAAAAAAAA">    
    </header> 
    
    <div class="content-wrapper">
        <div class="bandcamp-container">
            <iframe style="border: 0; width: 350px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=3232656776/size=large/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="https://mattkrupa.bandcamp.com/album/iceland">Iceland by Matt Krupa</a></iframe>
        </div>
        <div class="album-info">
            <!-- Text or content for album description -->
            <p>Album description and other information goes here...</p>
        </div>
    </div>       
    
</body>
</html>