{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>In the Autumn Forest</title>
</head>
<body>
    <header>
        <img src="{% static 'images/intheautumnforest_header.jpg' %}" alt="WHERE IS MATT KRUPA AAAAAAAAAA">    
    </header> 
    
    <div class="content-wrapper">
        <div class="album-info">
            <p>This one is so nostalgic... It was my first ever album realesed to the public. I know it lacks mastering and mixing, but when I go back listen to this I feel
                the same feelings back then. "In The Autumn Forest" I have made 4 years after I had started my journey with music (by picking bass guitar for the first time).
                Right before the start of composing the album I got my first MIDI controler with ableton lite. I recorded some of my piano and was like "HUH this sound like Minecraft".
            </p>
            <p> I begun the album with song "printer" I have made it before I knew what this album will be about, so I didn't really knew how to call this song. I've just looked on my
                desk and there it was: a broken hp printer. That's it. That's how I named my first composition. </p>
            <p>'Autmn Forest' is when I come up with the autumn forest theme for the album. I had just came back from a trip to mountains during autumn, so I had a big autumn vibe after that.
                I imagined myself walking throught the autumn forest composing this one (I know it's hard to say). I was really inspiried by C418 (like during every album I guess). </p>
            <p>'West' is a acoustic bass oriented track. I recorded a calm improvisation inspiried by Tools Disposition, which 
                I covered 6 months before. </p>
            <p>'SepPia' is the only tack that was recorded before all the other songs. The name comes from how the track, that I found laying on my
                hard drive, was named. 'September Piano' - thats why I put it into just SepPia and added some effects. </p>
            <p>'The Sky Above' is a very hopefull track. I just sat back in front of my piano and started composing. Later on I added my acoustic bass and
                some effects on my MIDI controler. Very comoforting one. </p>
            <p>'Do Not Listen' is more like an experiment than a track... I asked my self 'What would a song sound like composed just on a MIDI controler?'
                It turned out weird so I called it 'Do Not Listen', so people won't be listening to it. But my sister made it into a inside joke meme, so that's  
                why it had a part two xD.</p>
            <p>'Return' is a song about coming back. I wanted it to be all other songs combined, a bit weird, a bit chill and a bit strong, as it 
                was ment to be the outro of the album. </p>
            <p> 'Do Not Listen II' hey there is a part two! I composed it half a yera after the realese of the album and included it later. It is a rock
                song. I took the main leading 'instruemnt' from the first Do Not Listen and made it into a riff on acoustic guitar and bass. Added drums, synth,
                piano and send it to my friend (ANOTNI 'doublesidedead' FRYC LOVE) and he mixed and mastered it. He is the one that made it into more rock
                song. Later on I added my 'singing' to it with lyrics about darkness in my brain. I played to my mighty brother Łukasz Krupa and he said 
                'LET ME RECORD GUITAR TO IT'. And he made the best guitar riff in the history of mankind! Go listen to it, but hold your pants, because they
                can fall off. </p>
            <p>&nbsp</p>
            <div class="social-icons-pages">
                <a href="https://www.youtube.com/watch?v=kc7r-QgjVeQ&list=OLAK5uy_lGoj-pSTmlHuQOnAwder-AMfckIfA6XJQ" target="_blank">
                    <img src="{% static 'images/youtube.png' %}" alt="YouTube">
                </a>
                <a href="https://open.spotify.com/album/40i0Yi9rNP9cXNzNnOrJW7?si=OgQXngGLTrOMCP1qYprEHA" target="_blank">
                    <img src="{% static 'images/Spotify.png' %}" alt="Facebook">
                </a>
                <a href="https://music.apple.com/pl/album/in-the-autumn-forest/1538390792" target="_blank">
                    <img src="{% static 'images/itunes.png' %}" alt="Itunes">
                </a>
            </div>
        </div>
        <div class="bandcamp-container">
            <iframe style="border: 0; width: 350px; height: 720px;" src="https://bandcamp.com/EmbeddedPlayer/album=414453090/size=large/bgcol=333333/linkcol=e99708/transparent=true/" seamless><a href="https://mattkrupa.bandcamp.com/album/in-the-autumn-forest">In The Autumn Forest by Matt Krupa</a></iframe>
        </div>
    </div>   
    
    <div class="button-container">
         <a href="{% url 'home' %}" class="back-button">Go back to the front page</a>
    </div>
    
</body>
</html>