{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Norway</title>
</head>
<body>
    <header>
        <img src="{% static 'images/norway_header.jpg' %}" alt="WHERE IS MATT KRUPA AAAAAAAAAA">    
    </header> 
    
    <div class="content-wrapper">
        <div class="album-info">
            <p>Norway is something like a prequel to the Iceland album. It contains mostly ambient and piano intrumental music. How Iceland is about journey out, Norway
                is more like a hard journey throught... It's more emotional, more depressing I would say. But only a prequel...
            </p>
            <p> It begins with a song 'Fortøyning', very static one, without tempo and genre. Just a distressing intro.</p>
            <p>'Grense' leads into the dark land of Norway. It has a pretty happy vibe as the song is lead by ukulele riff. Mostly inspiried by Twenty One Pilots. 
            <p>'Hull i veien' is just some of my piano improvisation with reverb and delay. It is calm. It's very calm. </p>
            <p>'Prøver' is a take on insanity. Like a previous one it is mostly calm piano at first. But with time the song begins to deteriorate... </p>
            <p>'Bryte ut' is the most emotional one. It is surrounded with deterioration, but in the middle it brakes out with anger and 'trying' to break the cycle. </p>
            <p>'Sol over fjorden' is a light breaking throught the darkness. Like light always does. </p>
            <p>'211106' is the angriest one. It is about time? 
            <p>'211008' I don't talk about this one. </p>
            <p>'201103' is about longing. </p>
            <p>'Avfortøyning' is a remixed intro to the album. By looping the same piano I wanted to show that the journey isn't over, but with a short additon of a calm 
                improvisation by me and Natalia I wanted to show that the journey changes, it doesn't really loop.
            <p>&nbsp</p>
            <div class="social-icons-pages">
                <a href="https://www.youtube.com/watch?v=XbPTkTvUVPs&list=OLAK5uy_nz2eml1r6Lvl4QpNFQYAOxNI_qMqoIPJY" target="_blank">
                    <img src="{% static 'images/youtube.png' %}" alt="YouTube">
                </a>
                <a href="https://open.spotify.com/album/3SuCVpFpKRwGVhan3pi1fe?si=71j8C8avRu6tzA129Zn4EA" target="_blank">
                    <img src="{% static 'images/spotify.png' %}" alt="Facebook">
                </a>
                <a href="https://music.apple.com/pl/album/norway/1600063086" target="_blank">
                    <img src="{% static 'images/itunes.png' %}" alt="Itunes">
                </a>
            </div>
        </div>
        <div class="bandcamp-container">
            <iframe style="border: 0; width: 350px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=4079981444/size=large/bgcol=333333/linkcol=4ec5ec/transparent=true/" seamless><a href="https://mattkrupa.bandcamp.com/album/norway">Norway by Matt Krupa</a></iframe>
        </div>
    </div>   
    
    <div class="button-container">
         <a href="{% url 'home' %}" class="back-button">Go back to the front page</a>
    </div>
    
</body>
</html>