{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Winter</title>
</head>
<body>
    <header>
        <img src="{% static 'images/winter_header.jpg' %}" alt="WHERE IS MATT KRUPA AAAAAAAAAA">    
    </header> 
    
    <div class="content-wrapper">
        <div class="album-info">
            <p>Winter isn't the best of my albums... That's a soft way to say it. It was pretty speed up while I was working on Iceland and Norway albums. Mostly conatins some
                unused tracks and some random improvisations. First the album was called 'Presents', because I called it 'Christmas album', but you know, the only really christmas song
                here is 'Pls Come' (which is pretty good I would say), so I changed it to 'Winter' for reasons. Mostly ambient vibes and acoustic (classic Matt).
            </p>
            <p> It begins with a song 'Intro'. Yeah original name. The song was created right after realising 'In The Autumn Forest' album. Inspiried by aquatic songs by C418. It is 
                very ambient
            </p>
            <p>'For Mom' is the first song dedicated for my family members. You can tell for whom the song is by the name really. It's... em... piano. </p>
            <p>'For Dad' is piano as well, a bit stronger than the previous one. </p>
            <p>'For Sis' is another calming song. I was very inspiried by the snow and how quiet the winter is (and I almost played Minecraft theme there, because I was
                improvising lol). </p>
            <p>'For Bro' is finally something different. I took a guitar and improvised some chill tunes in the styles that my brother likes. And I did it! He said the he really
                liked it, so job well done with this one! Cheers bro! </p>
            <p>'For Mom's Mom' is a piano improvisation for one of my grandmothers! You can hear there are some random tunes that don't fit. That was my cat stepping on a piano
                while I was recording. His name is Sprytek. I thought he was worthy having his one music carrier. But I move out and took the piano, so he stayed in the shadows. </p>
            <p>'For Dad's Mom' is for my another grandmother! It does miss the tempo sometimes, but is like this really. It is a happy and powerfull melody. </p>
            <p>'Oh Come' is a prequel to 'Pls Come'. It was piano part for some deleted cover that I forgor. sry.</p> 
            <p>'Pls Come' here you have a christamss song! Or more like Advent song?? idk, but it's the only vocal one on the album. I wrote it about Christ coming to Earth
                 in both Christmas and Parousia.</p>
            <p>'Outro' is another inspiried by C418. It was meant to be epic, but turned out depressing lol. But still my favourite one on the album.</p>
            <p>&nbsp</p>
            <div class="social-icons-pages">
                <a href="https://www.youtube.com/watch?v=ut5M32nSTcQ&list=OLAK5uy_lDVHSBC_wHWZzHen8FU4fXQxMlDDkJhCc" target="_blank">
                    <img src="{% static 'images/youtube.png' %}" alt="YouTube">
                </a>
                <a href="https://open.spotify.com/album/6ty78LmRf5WCD94XcxZr6B?si=1BAsCJsVRHm4Q7bPlHGlBw" target="_blank">
                    <img src="{% static 'images/spotify.png' %}" alt="Facebook">
                </a>
                <a href="https://music.apple.com/pl/album/winter/1599981887" target="_blank">
                    <img src="{% static 'images/itunes.png' %}" alt="Itunes">
                </a>
            </div>
        </div>
        <div class="bandcamp-container">
            <iframe style="border: 0; width: 350px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=3101670337/size=large/bgcol=333333/linkcol=ffffff/transparent=true/" seamless><a href="https://mattkrupa.bandcamp.com/album/winter">Winter by Matt Krupa</a></iframe>
        </div>
    </div>   
    
    <div class="button-container">
         <a href="{% url 'home' %}" class="back-button">Go back to the front page</a>
    </div>
    
</body>
</html>